{% extends 'base.html' %}

{% block title %}
    Product Added to Cart
{% endblock %}

{% block main %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-light p-5 rounded">
            <h1 class="display-4 text-center mb-5" style="color: black;">Added to Cart!</h1>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form action="/go_to_home" method="POST">
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">Continue Shopping</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
