{% extends 'base.html' %}

<title>
    {% block title %}Admin Dashboard{% endblock %}
</title>

<body>
    {% block main %}
        <h1><b>
            Welcome back,
            
        </b></h1>
        <br>

        <table class="table" style="color: black;">
            <thead>
              <tr>
                <th scope="col">DeliveryAgentID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Availability</th>
              </tr>
            </thead>
            <tbody>
                {% for deliveryagent in all_Deliveryagent %}
                <tr>
                    <td>{{deliveryagent[0]}}</td>
                    <td>{{deliveryagent[1]}}</td>
                    <td>{{deliveryagent[2]}}</td>
                    <td>{{deliveryagent[3]}}</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
    {% endblock %}
</body>