{% extends 'base.html' %}

<head>
  <title>
    {% block title %}
      Home
    {% endblock %}
  </title>
</head>

<body>
  {% block main %}
    <div class="container">
      <h2>Products</h2>
      <div class="row">
        {% for product in products %}
            <div class="col-md-4 mt-4"> <!-- Corrected typo from mt=4 to mt-4 -->
              <form action="/choice" method="GET">
                <button type="submit" class="btn btn-light">
                  <div style="width: 200px; height: 200px; background-color: #ccc;"></div>
                  {{ product[3] }}  <!-- Display product name and price -->
                </button>
              </form>
            </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
</body>
