{% extends 'base.html' %}

<head>
  <title>
    {% block title %}
      Home
    {% endblock %}
  </title>
</head>

<body>
  {% block main %}
    <div class="container">
      <h1 class="text-center mx-auto">Choice</h1>
      <div class="row">
        <div class="col-md-8 mt-4">
          <form action="/add_to_cart" method="POST">
            <button type="submit" class="btn btn-light mr-3">Add to Cart</button>
          </form>
        </div>
        <div class="col-md-4 mt-4">
          <form action="/buy_now" method="POST">
            <button type="submit" class="btn btn-primary">Buy Now</button>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
</body>
