{% extends 'base.html' %}

<title>
    {% block title %}Admin Dashboard{% endblock %}
</title>

<body>
    {% block main %}
        <h1><b>
            Welcome back,
            
        </b></h1>
        <br>

        <div class="card-group" style="width: 100%; display: flex; justify-content: space-between;">
            <div class="card" style="margin-right: 2rem; flex: 1; margin-bottom: 2rem;">
                <a class="card-link" href="/all_customer">
                    <h2><b>TOP Customer</b></h2>
                    {% for customer in top_customer %}
                        <p><b>{{ customer[1] }} {{ customer[2] }}</b>: Total Purchase Amount - ${{ customer[3] }}</p>
                    {% endfor %}
                </a>
            </div>

            <div class="card" style="margin-right: 2rem; flex: 1; margin-bottom: 2rem;">
                <a class="card-link" href="/supplierstats">
                    <h2><b>Top Gold Customer</b></h2>
                    {% for G_Customer in gold_customer %}
                        <p><b>{{ customer[1] }} {{ customer[2] }}</b>: Total Purchase Amount - ${{ customer[3] }}</p>
                    {% endfor %}
                </a>
            </div>
        </div>


        <br>
    {% endblock %}
</body>