{% extends 'base.html' %}

<title>
    {% block title %}Admin Dashboard{% endblock %}
</title>

<body>
    {% block main %}
        <h1><b>
            Welcome back,
            
        </b></h1>
        <br>
        <div class="card-group" style="width: 100%; display: flex; justify-content: space-between;">
            <div class="card" style="margin-right: 2rem; flex: 1; margin-bottom: 2rem;">
                <a class="card-link" href="/all_deliveryagent">
                    <h2><b>All Delivery Agent</b></h2>
                    <p><br>These are all delivery agent <b>StoreX</b>.</p>
                </a>
            </div>
        </div>
        
        <br>
    {% endblock %}
</body>