{% extends 'base.html' %}

<head>
  <title>
    {% block title %}
      Home
    {% endblock %}
  </title>
</head>

<body>
  {% block main %}
    <div class="container">
      <h1>Rate our Product!</h1>
      <form action="/delivery_review/{{order[0]}}" method="POST">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Rating</label>
          <input type="text" class="form-control" name="Rating" id="Rating" placeholder="Give rating from 0 to 5" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Description</label>
          <input type="text" class="form-control" name="Desc" id="Desc" placeholder="Details how can we be better" />
        </div>
        <button type="submit" class="btn btn-primary">Rate</button>
      </form>
    </div>
  {% endblock %}
</body>
