{% extends 'base.html' %}

<head>
    <title>
        {% block title %}Home{% endblock %}
    </title>
</head>

<body>
    {% block main %}


    <h1 style="text-align: center;"><b>Our Products</b></h1>
    <hr>
    <p>Don't miss out on these Products</p>

    <br>
    <p style="font-size: smaller; color:grey">Browse our entire product catalogue <a href="/store">here</a>.</p>
    <hr>

    <h2 style="text-align: left;"><b>About us</b></h2>
    <p dir="ltr" style="text-align: justify;">
        Store for All items.
        <br>
        <br>
        Shop's All sorts of items.
    </p>
    <hr>
    <h3 style="text-align: left;"><b>Contact us</b></h3>
    <div style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <u style="color: blue;"><a href="mailto:helpline@store.ac.in" style="margin-left: 2px;">helpline@store.ac.in</a></u>
        </div>
        <div style="text-align: center;">
            +91 123456789
        </div>
        <div style="text-align: right;">
            +91 0987654321
        </div>
    </div>
    <hr>
    {% endblock %}
</body>