{% extends 'base.html' %}

<head>
  <title>
    {% block title %}
      Home
    {% endblock %}
  </title>
</head>

<body>
  {% block main %}
    <div class="container">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">User Type</label>
          <input type="text" class="form-control" name="User Type" id="User Type" placeholder="Customer, Delivery Agent, Supplier" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="text" class="form-control" name="Email" id="Email" placeholder="Email" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Password</label>
          <textarea class="form-control" name="Password" id="Password" rows="1"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">LOG IN</button>
      </form>
    </div>
  {% endblock %}
</body>
