{% extends 'base.html' %}

<head>
  <title>
    {% block title %}
      Home
    {% endblock %}
  </title>
</head>

<body>
  {% block main %}
    <div class="container">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="UserType" class="form-label">User Type</label>
          <select class="form-control" name="UserType" id="UserType">
            <option value="customer">Customer</option>
            <option value="supplier">Supplier</option>
            <option value="delivery_agent">Delivery Agent</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="Email" class="form-label">Email</label>
          <input type="text" class="form-control" name="Email" id="Email" placeholder="Email" />
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-primary">LOG IN</button>
      </form>
    </div>
  {% endblock %}
</body>
