{% extends 'base.html' %}

<title>
    {% block title %}Admin Dashboard{% endblock %}
</title>

<body>
    {% block main %}
        <h1><b>
            Welcome back,
            
        </b></h1>
        <br>
        <div class="card-group" style="width: 100%; display: flex; justify-content: space-between;">
            <div class="card" style="margin-right: 0px !important; flex: 1; margin-bottom: 2rem;">
                <a class="card-link" href="/all_products">
                    <h2><b>All Products</b></h2>
                    <p><br>All Products in the store.</p>
                </a>
            </div>
        </div>

        <div class="card-group" style="width: 100%; display: flex; justify-content: space-between;">
            <div class="card" style="margin-right: 0px !important; flex: 1; margin-bottom: 2rem;">
                <a class="card-link" href="/productratings">
                    <h2><b>Product Review</b></h2>
                    <p><br>Average Rating.</p>
                </a>
            </div>
        </div>
        <br>
    {% endblock %}
</body>