{% extends 'base.html' %}

{% block title %}
    Thank You
{% endblock %}

{% block main %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-light p-5 rounded shadow-lg">
            <h1 class="display-4 text-center mb-5" style="color: #333;">Thank You for Rating!</h1>
            <p class="lead text-center mb-4" style="font-size: 1.25rem;">We appreciate your time!</p>
            <hr class="my-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <a href="/store" class="btn btn-primary btn-lg btn-block mb-3" style="background-color: #007bff;">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
